:root {
  --side-background-color: radial-gradient(circle, rgba(116, 29, 203, 0.769), rgba(9, 3, 3, 0.923));
  --border-color: #f87bc1;
  --chat-background: #e3dcf6;
  --chat-height: 50px;
  --img-width: 35px;
  --img-height: 35px;
  --user-active-bg: rgba(125, 124, 124, 0.402);
  --logout-bg: #171146;
}

.fitImg {
  width: var(--img-width);
  height: var(--img-height);
  border-radius: 50%;
  object-fit: cover;
}

.mainWrapper {
  display: flex;
  width: clamp(300px, 100%, 1000px);
  min-height: 100vh;
  padding: 1rem 0;
  /* height: 650px; */
  flex-direction: column;
}

.sideBar {
  flex: 1;
  background: var(--side-background-color);
  color: #fff;
  /* padding: 1rem; */
}

.logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--logout-bg);
  padding: 12px 8px;
}

.logout h1 {
  font-size: 1.4rem;
}

.loggedUser {
  display: flex;
  gap: 8px;
  align-items: center;
}

.loggedUser span {
  font-weight: 500;
  font-size: 0.9rem;
}


button {
  border: none;
  outline: none;
  padding: 6px 12px;
  border-radius: 5px;
}

.logoutBtn {
  color: black;
  font-size: .9rem;
  font-weight: 700;
  border: 2px solid var(--border-color);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
}

/* User Search Bar */

.searchUsers {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #4e4e4e;
  padding-bottom: 8px;
  gap: 1rem;
}


.searchForm {
  display: flex;
}

.searchForm input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  height: 100%;
  font-size: 1rem;
  color: #fff;
  background: #424244;
}

.searchForm input::placeholder {
  color: #c7c7c7;
}

.userChat {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: .8rem;
}



/* User for Chat Wrapper */

.userWrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}


.user {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.8rem 1rem;
  color: #f6f6f6;
}


.user img {
  --img-height: 50px;
  --img-width: 50px;
}



.active {
  background: var(--user-active-bg);
}

.first .activeDot {
  opacity: 1;
}

.activeDot {
  --dot-dimension: 9px;
  width: var(--dot-dimension);
  height: var(--dot-dimension);
  background: #96f6a0;
  border-radius: 50%;
  opacity: 0;
}

.userText {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.userText p {
  font-size: 1rem;
  font-weight: 700;
}

.userText span {
  font-size: .8rem;
  width: 23ch;
}


/* Chat Styling */

.chatWrapper {
  flex: 1;
  background: var(--chat-background);
  height: 100%;
}

.chatHeaderWrapper {
  display: flex;
  height: var(--chat-height);
  color: #fff;
  align-items: center;
  padding: 8px 10px;
  justify-content: space-between;
  background: linear-gradient(90deg,
      rgba(98, 105, 239, 1) 0%,
      rgba(92, 128, 248, 1) 100%);
}

.icons {
  display: flex;
  gap: 1rem;
}

.icons img {
  width: 30px;
  height: 30px;
}

/* Chat Box Design */

.chatBody {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  height: calc(100% - 100px);
  overflow-y: auto;
  padding: 8px 0;
}

.userContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  padding: 10px;
  gap: 1rem;
}

.reply {
  justify-content: start;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.userInfo span {
  font-size: 0.7rem;
}

.userInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userContent span {
  background: #fff;
  padding: 5px;
  border-radius: 0 5px 5px 5px;
}


.reply .userContent span {
  background: #f79cf7;
}

.sendImg {
  width: 200px;
  height: 240px;
  border-radius: 5px;
  object-fit: cover;
}

/* Chat input styling */
.chatInput {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  height: var(--chat-height);
  align-items: center;
  align-self: flex-end;
  background: #fff;
}

.chatInput input[type="text"] {
  padding: 8px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  flex: 1;
}

.send {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.send img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.sendBtn {
  background: pink;
  font-size: clamp(0.7rem, 1.2vw, 0.9rem);
}

@media (hover: hover) {
  button:hover {
    cursor: pointer;
  }

  .user:hover {
    background: var(--user-active-bg);
    cursor: pointer;
  }

  .sendBtn:hover {
    filter: brightness(110%);
  }

  label[for="file"] {
    cursor: pointer;
  }
}

@media (width > 700px) {
  .mainWrapper {
    flex-direction: row;
    padding: 0;
    min-height: auto;
    height: 650px;
  }

  .chatWrapper {
    flex: 2;
  }

  .send {
    gap: 1.2rem;
  }

  .send img {
    width: 30px;
    height: 30px;
  }
}


@media (hover:hover) {
  .userChat {
    cursor: pointer;
  }

  .userChat:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}