@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import "./home.css";

:root {
  --background-color: radial-gradient(circle, #14214a, #010115);
  --upload-button-color: #7d7bf9;
  --upload-hover-color: #f97bb8;
  --font-Roboto: "Roboto", sans-serif;
}

body {
  font-family: var(--font-Roboto);
}

.compContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--background-color);
}

.formWrapper {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  background: #0e0232;
  color: #fff;
  gap: 1rem;
  box-shadow: 6px 6px 0px 0px #60f3c0f3;
  width: clamp(300px, 90%, 410px);
}

.formWrapper>h1 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #edf6f0;
}

.formWrapper>p {
  font-size: 0.8rem;
  color: #d9f1b1;
  font-family: "Bill Smith";
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 10px 0;
}

form input {
  border: none;
  outline: none;
  font-size: 0.8rem;
  padding: 8px;
  border-bottom: 1px solid #d8f796;
  background: transparent;
  color: #fff;
}

form input::placeholder {
  color: #b4b2b2;
}

form input[type="file"] {
  display: none;
}

form label {
  margin: 5px 0;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--upload-button-color);
  text-transform: uppercase;
  transition: 0.3s linear;
}

button[type="submit"] {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  border-radius: 2px;
  background: linear-gradient(90deg,
      #94f875 0%,
      #70f4b4 100%);
}

span {
  margin: 5px auto;
  font-size: 0.9rem;
}

span>a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: cyan;
}

/* Chat Input */

@media (hover: hover) {
  form label[for="fileUpload"] {
    cursor: pointer;
  }

  form label[for="fileUpload"]:hover {
    color: var(--upload-hover-color);
  }

  button {
    cursor: pointer;
    transition: 0.3s ease;
  }

  button[type="submit"]:hover {
    filter: brightness(110%);
  }

  span>a:hover {
    color: #f8489d;
    text-decoration: underline;
  }
}