@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --background-color: #e1d4fc;
  --upload-button-color: #7d7bf9;
  --upload-hover-color: #f97bb8;
  --font-Roboto: "Roboto", sans-serif;
}

body {
  font-family: var(--font-Roboto);
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
}

.formWrapper {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  background: #fff;
  gap: 0.6rem;
  border-radius: 5px;
  width: clamp(300px, 90%, 410px);
}

.formWrapper > h1 {
  font-size: 1.4rem;
}

.formWrapper > p {
  font-size: 0.9rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10px 0;
}

form input {
  border: none;
  outline: none;
  font-size: 0.8rem;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

form input[type="file"] {
  display: none;
}

form label {
  margin: 5px 0;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--upload-button-color);
  text-transform: uppercase;
  transition: 0.3s linear;
}

button[type="submit"] {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgba(239, 169, 245, 1) 0%,
    rgba(169, 179, 245, 1) 100%
  );
}

span {
  margin: 5px auto;
  font-size: 0.9rem;
}
span > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

@media (hover: hover) {
  form label[for="fileUpload"] {
    cursor: pointer;
  }

  form label[for="fileUpload"]:hover {
    color: var(--upload-hover-color);
  }
  button {
    cursor: pointer;
    transition: 0.3s ease;
  }
  button[type="submit"]:hover {
    filter: brightness(110%);
  }
  span > a:hover {
    color: #f8489d;
    text-decoration: underline;
  }
}
